{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
    {{ include('@DrawIonicPusher/Icon/ionic.svg') }}
    <span class="sf-toolbar-status">{{ collector.requests|length }}</span>
    {% endset %}

    {% set text %}
    {# this is the content displayed when hovering the mouse over
       the toolbar panel #}
    <div class="sf-toolbar-info-piece">
        <b>Requests</b>
        <span>{{ collector.requests|length }}</span>
    </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true }) }}
{% endblock %}

{% block head %}
   {{ parent() }}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon">{{ include('@DrawIonicPusher/Icon/ionic.svg') }}</span>
        <strong>Ionic Push </strong>
        <span class="count">
            <span>{{ collector.requests|length }}</span>
        </span>
    </span>
{% endblock %}

{% block panel %}
    <h2>Ionic Push Requests</h2>
    {% if not collector.requests %}
        <p><em>No requests.</em></p>
    {% else %}
        {% for request in collector.requests %}
            <table>
                <tr><th colspan="2">Profile: {{ request.pushNotification.profile }} UUID: {{ request.result.data.uuid }}</th></tr>
                <tr><td>Tokens</td><td>{{ request.pushNotification.tokens|join(', ') }}</td></tr>
                <tr><td>Notification</td><td><pre>{{ request.pushNotification.notification|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre></td></tr>
                <tr><td>Result</td><td><pre>{{ request.result|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre></td></tr>
                <tr><td>Status</td><td><pre>{{ collector.getNotificationStatus(request.result.data.uuid)|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre></td></tr>
            </table>
        {% endfor %}
    {% endif %}
{% endblock %}